<div class="white-popup">
	<% if @metas["success"] != false %>
		<ul class="metas_list comments_list">
			<%= render :partial => "partials/"+params[:type]+"_items", :locals => {:metas => @metas} %>	
		</ul>
	<% end %>
	<div class="clear"></div>
	<div class="loader"></div>
</div>