<footer class="navbar-fixed-bottom">
	<div id="credits">
		<div id="credits_container" class="container">
			<p class="left">Citivine</p>
			<ul class="right credits_links">
				<li>
					<%= link_to "About", about_path %>
				</li> | 
				<li>
					<%= link_to "Contact", contact_path %>
				</li> | 
				<li>
					<%= link_to "What's new?", whatsnew_path %>
				</li> | 
				<li>
					<%= link_to "#", :target => "blank" do %>
						<i class="icon-twitter"></i>
					<% end %>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
</footer>