<% metas["data"]["records"].each.with_index do |like, index| %>
	<li class="left well">
		<%= link_to user_path(:user => like["userId"], :username => like["username"]) do %>
			<span><%= like["username"] %></span>
			<%= image_tag "#{like["avatarUrl"]}", {alt:like["username"], :height => 90, :width => 90} %>
		<% end %>
	</li>
<% end %>
<% if metas["data"]["nextPage"] != nil %>
	<%= link_to metas_more_path(:type => "likes", :post => post, :page => metas["data"]["nextPage"]), :class => 'btn btn-primary search_more_metas' do %>
		<i class="icon-plus"></i>&nbsp;&nbsp;&nbsp;More likes
	<% end %>
<% end %>