<ul class="left pagination">
	<% disabled = previous_page == nil ? "disabled" : "" %>
	<% link = disabled == 'disabled' ? "#" : params.merge(:page => previous_page) %>
	<li class="previous <%= disabled %>">
		<%= link_to link, :class => disabled+' btn btn-primary' do %>
			<i class="icon-caret-left"></i>&nbsp;&nbsp;&nbsp;Newer
		<% end %>
	</li>
</ul>
<ul class="right pagination">
	<% disabled = next_page == nil ? "disabled" : "" %>
	<% link = disabled == 'disabled' ? "#" : params.merge(:page => next_page) %>
	<li class="next">
		<%= link_to link, :class => disabled+' btn btn-primary' do %>
			Older&nbsp;&nbsp;&nbsp;<i class="icon-caret-right"></i>
		<% end %>
	</li>
</ul>
<div class="clear"></div>
