<div id="video_cont_" class="white-popup">
	<video width="320" height="320" class="" poster="" loop="" preload="metadata" poster="">
		<source src="<%= @videoUrl %>" type="video/mp4">
	</video>
</div>