<%= render :partial => "partials/single_page_sidebar", :locals => {:active => "whatsnew"} %>
<h2>Whats New?</h2>
<hr class="single_page span7"/>
<div class="single_page left about_content span7">
	<h3>Planned</h3>
	<ul>
		<li>User credentials</li>
		<li>Permalink (requires database saving)</li>
		<li>User actions (like, share, etc.)</li>
		<li>Vine Geolocation</li>
	</ul>
	<h3>v1.0</h3>
	<ul>
		<li>Vine exploring (promoted and populars feeds)</li>
		<li>Popular tags and current channels</li>
		<li>User profile</li>
		<li>Search</li>
	</ul>
</div>
<div class="clear"></div>